[submodule "quazip"]
	path = quazip
	url = https://github.com/mnafees/quazip
[submodule "dependencies/quazip"]
	path = dependencies/quazip
	url = https://github.com/mnafees/quazip
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib
